<div class ="container">

  <div id="title">NomNom Burger!</div>
  <br>
  
  <div class="row">
    <div class="col-md-6">
      <h2>Yum-Yum burger!</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
          <li>
            <p>
              {{this.burger_name}}
              <button type="submit" class="btn btn-primary" id="devour"> DEVOURED!!! </button>
            </p>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    

     <div class="col-md-6"> <!-- i dont know how to put them side by side seems like bootstrap is not being applied -->
      <h2>Burrrp-GER!!!</h2>
       <ul>
        {{#each burgers}}
          {{#if devoured}}
          <li><p>{{this.burger_name}}</p></li>
          {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
  <br>
  <br>
  
  <div class="row">
  <form>
    <div class="form-group">
      <label for="addBurger">Add a burger</label>
      <input type="email" class="form-control" id="addBurger" aria-describedby="emailHelp" placeholder="Yummy burger!">
      <medium id="tag-desc" class="form-text text-muted">Add the yummiest burger you could think of!</medium>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

</div>