body{
	background-image:url("../img/cat-burger.png");
	background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
    background-attachment:fixed;
}

#title{
	text-align: center;
	color:teal;
	font-size: 100px;
	font-family:sans-serif;
	font-weight:bold;
}

h2{
	text-align: center;
}

label{
	font-size:30px;
	color:teal;
}

#tag-desc{
	color:black;
	font-weight:bold;
	font-size:20px;

}

p{
	font-size: 20px;
	font-weight:bold;
}
